@model List<Order>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>

            <td>
                @item.OrderId
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                    <h6 class="m-b-0 m-l-10">@item.Customer.FullName</h6>
                </div>
            </td>
            <td>@item.OrderDate</td>
            <td>@item.TotalMoney.ToString("#,##0") VNĐ</td>
            <td>@item.TransactStatus.Status</td>
            <td>
                <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId">Chi tiết</a>
                <a data-target="#modal-header" data-toggle="modal" class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.OrderId">Cập nhật trạng thái</a>
                <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@item.OrderId">Xóa</a>
            </td>
        </tr>
    }
}